.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 440px;
    height: 50%;
    min-height: 380px;
    background: white;
    border-radius: 1rem;
}

.Login-wrapper {
    display: flex;
    flex-direction: column;
}
